<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮箱</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/top.css}" rel="stylesheet"/>
    <link th:href="@{/css/left.css}" rel="stylesheet"/>
    <div th:include="top::top"></div>
    <div th:include="left::left"></div>
</head>

<body>


<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script>

</script>
</body>
</html>